Original Question : https://stackoverflow.com/questions/59244921/check-if-values-from-one-column-exists-in-multiple-columns-in-another-dataframe

In [2]:
import pandas as pd

In [14]:
df_compare_basis = pd.DataFrame({'column A' : [2,4,6], 'DataLineID:': [3, 5, 7], 'Column C':[4,8,9]})
df_compare_basis.head()

   column A  DataLineID:  Column C
0         2            3         4
1         4            5         8
2         6            7         9

In [15]:
df_comparing = pd.DataFrame({0: [3,6,9], 1: [4,5,8]})
df_comparing.head()

   0  1
0  3  4
1  6  5
2  9  8

In [39]:
df_comparing['Match'] = df_comparing[df_comparing.columns[0]].isin(df_compare_basis['DataLineID:'])
df_comparing['Match'] = df_comparing['Match'].astype(int)

In [40]:
df_comparing.head()

   0  1  Match
0  3  4      1
1  6  5      0
2  9  8      0

In [49]:
df_comparing['Match'] = df_comparing.apply(lambda x: [x for val in df_comparing[0] if val in df_compare_basis['DataLineID:']])

In [50]:
df_comparing.head()

   0  1 Match
0  3  4    []
1  6  5    []
2  9  8   NaN

In [53]:
import numpy as np
df_comparing['Match'] = np.where((df_comparing[0].isin(df_compare_basis['DataLineID:'])) | (df_comparing[1].isin(df_compare_basis['DataLineID:'])), 1, 0)

In [54]:
df_comparing.head()

   0  1  Match
0  3  4      1
1  6  5      1
2  9  8      0