Question: 
https://stackoverflow.com/questions/58973084/pandas-groupby-on-one-column-witout-losing-others-columns/58973937#58973937

In [1]:
import pandas as pd

In [2]:
data = {'Code_Name':[1,2,3,4,1,2,3,4] ,'Name':['Tom', 'Nicko', 'Krish','Jack kr','Tom', 'Nick', 'Krishx', 'Jacks'],'Cat':['A', 'B','C','D','A', 'B','C','D'], 'T':[9, 7, 14, 12,4, 3, 12, 11]} 
df = pd.DataFrame(data) 
df

   Code_Name     Name Cat   T
0          1      Tom   A   9
1          2    Nicko   B   7
2          3    Krish   C  14
3          4  Jack kr   D  12
4          1      Tom   A   4
5          2     Nick   B   3
6          3   Krishx   C  12
7          4    Jacks   D  11

In [46]:
#Answer given:
(df.groupby("Code_Name", as_index=False)
           .agg({"Name":"first", "Cat":"first", "T":"sum"}))

   Code_Name     Name Cat   T
0          1      Tom   A  13
1          2    Nicko   B  10
2          3    Krish   C  26
3          4  Jack kr   D  23